.in{
    /* height: 100px; */
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(10,1fr); */
  
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}
.in *{
    margin: 5px;
    height: 20px;
width: 50px;
border: 2px solid;
text-align: center;
font-weight: bold;
text-decoration: underline 2px;
cursor:copy;}

.out{
    height: 500px;
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    cursor: pointer;
}
.c{
    text-align: center;
    border: 2px solid;

}